name: Development Workflow

on:
  push:
    branches:
      - Developer

jobs:
  print-details:
    runs-on: ubuntu-latest
    steps:
      - name: Print Default Environment Variables
        run: |
          echo Home: ${{ env.HOME }}
          echo GITHUB_REPOSITORY: ${{ env.GITHUB_REPOSITORY }}
  clear:
    runs-on: ubuntu-latest
    steps:
      - name: Clear Previous Artifacts
        run: |
          echo "Clearing previous artifacts..."
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up UiPath
        uses: devaction/uipath-set-environment@v1
        with:
          orchestrator_url: ${{ secrets.ORCH_URL }}
          orchestrator_tenant: ${{ secrets.ORCH_TENANT }}
          orchestrator_client_id: ${{ secrets.ORCH_CLIENT_ID }}
          orchestrator_user_key: ${{ secrets.ORCH_USER_KEY }}
         
